<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<style>
  [v-cloak] {
    display: none;
  }
</style>
<body>

<!-- App -->
<div id="app">
  <h1>Blog</h1>
  <button class="button app__search-button" type="button" v-on:click="search">Search</button>
  <div>
    <div v-if="loading" class="loading">Loading...</div>
    <ul v-cloak v-for="post of posts">
      <li class="title">{{ post.title }}</li>
    </ul>
  </div>
</div>
<!-- Include the library in the page -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script>

// New VueJS instance
const app = new Vue({
  // CSS selector of the root DOM element
  el: '#app',
  data: {
  	posts: [],
    loading: 0,
  },
  mounted() {
  },
  methods: {
    search: function() {
      const query = `{
        data: getPost{
          title
        }
      }`;

      const requestOptions = {
        headers: new Headers({ 'content-type': 'application/json' }),
        method: 'post',
        body: JSON.stringify({ query }),
      };

      fetch('http://localhost:4000/graphql', requestOptions)
        .then(rawResponse => rawResponse.json())
        .then(res => this.posts = res.data.data)

    }
  }
})
</script>

</body>
</html>
